
    <div class="signup-container " id="signup-container">
            <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
                <h2>Create your account here</h2>
                <div class="form-fields">
                    <input type="text"  name ="name" [(ngModel)]="name" class="form-input-name" placeholder="Full Name" required>
                    <input type="email" name = "email" [(ngModel)]="email" class="form-input-email" placeholder="Email" required>
                    <input type="password" name = "password" [(ngModel)]="password" class="form-input-password" placeholder="Password" required>
                    <button class="btn form btn" type="submit">Sign Up</button>
                </div>
            </form>
 
        </div>

