.home {
  text-align: center;
  position: relative;
  height: 100vh;
  color: white;
  will-change: transform;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform .5s ease-in-out;
}
body.no-scroll {
  overflow: hidden;
}
.home h1 {
  font-family: "Open Sauce Two", sans-serif;
  font-weight: 800;
  font-size: 6rem;
  margin-top: 420px;
}

.home h2 {
  margin-top: 40px;
  font-family: "Open Sauce Two", sans-serif;
  font-weight: 800;
  font-size: 3.5rem;
}

.home.slide-up {
 transform: translateY(-100%);
}

/* Make H2 look clickable */
.clickable-text {
  cursor: pointer;
  display: inline-block;
  transition: transform 0.2s ease;
}

.clickable-text:hover {
  transform: scale(1.05);
}