.weather-dashbord {
    display: flex;
    justify-content: space-between; /* left + right positioning */
    align-items: center; /* vertical alignment */
    width: 100%;
    height: 100vh; /* Full screen height */
    padding: 20px; /* Space from screen edges */
    box-sizing: border-box;
}
app-disaster-alerts {
    width: 45%;
    margin-left: 20px;
}

app-chatbox {
    margin-top: 100px;
    width: 30%;
    margin-right: 10px;
}
