<div class="container">
    <div class="header">
        <h3>Global natural disasters report</h3>
        <button (click)="onClick()">
            {{ expanded ? 'Hide' : 'See'}}
        </button>
    </div>
    <div *ngIf="expanded" class="content">
        <h4>Disaster Reports</h4>
        <div *ngFor="let d of disasters">
            <p>{{d.title}}</p>
            <p><strong>Type:</strong> {{d.category}}</p>            
            <p><strong>Date:</strong> {{d.date}} | date:'fullDate'</p>            
        </div>
        <h4>Earthquakes</h4>
        <div *ngFor="let e of earthquakes">
            <p><strong>Location:</strong> {{e.place}}</p>
            <p><strong>Time:</strong> {{e.time}} | date:'shortTime'</p>
            <p><strong>Magnitude:</strong> {{e.magnitude}}</p>
        </div>
        <h4>Summary</h4>
        <p>{{summary}}</p>
    </div>
</div>
