@import "@angular/material/prebuilt-themes/indigo-pink.css";

@import "@fontsource/open-sauce-two/600.css";
@import "@fontsource/open-sauce-two/800.css";



.background-image {
  background-image: url("assets/bg.jpg");
  background-size: 100%;
  background-position: top-center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  overflow: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  /*font-family: 'Open Sauce Two', sans-serif !important;*/
}
* {
  font-family: 'Open Sauce Two', sans-serif !important;
}

app-root {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
}


.bg-blur {
  filter: blur(8px) brightness(0.7);
}

/* Optional frosted glass overlay */
.glass-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(18px);
  background: rgba(255, 255, 255, 0.06);
  z-index: -1;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.glass-overlay.hidden {
  opacity: 0;
  pointer-events: none;
}